body {
    font-family: Arial, sans-serif;
    background-color: wheat;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: gray;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.favorites-section {
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.favorites-section h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card {
    display: inline-block;
    padding: 15px;
    background: lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.music-container {
    margin-bottom: 15px;
}

.music-container img {
    width: 200px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid lightgray;
}

.movie-container {
    margin-bottom: 15px;
}

.movie-container img {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid lightgray;
}
